body {
  background: #B8C5D7FF;
}

svg {
  position: absolute;
  stroke: #383778;
  stroke-width: 10px;
}

button {
  position: absolute;
  margin: 20px;
  background-color: #6590EEFF;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  color: #EBFFF9FF;
  border: none;
  border-radius: 50px;
  box-shadow: 0 9px #677272FF;
}

.button:active {
  background-color: #6590EEFF;
  box-shadow: 0 5px #677272FF;
  transform: translateY(4px);
}